#Container {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

#left {

    margin-left: 50px;
    width: 35%;

}

#left>div:nth-child(1) {
    margin-bottom: 25px;
}

#right {
    width: 30%;

}

.checkout>h1 {
    font-weight: lighter;
    font-size: 15px;
}

#right>p {
    font-size: 12px;
}

#right>label {
    font-size: 12px;
}

#right>input {
    margin-top: 10px;
    width: 98%;
    height: 30px;

    border-radius: 0px;
    border: 1px solid black;
}

#right>button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 0px;
    border: 1px solid black;
    color: white;
    background-color: black;
}

#title {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    font-size: 12px;
}

#title span {
    color: rgb(235, 6, 6);
}

#items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#total {
    font-size: 12px;
}

#price {
    padding-left: 50px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

#shipping {
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
}

#finalTotal {
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
}


.card {
    display: flex;
}

.item_Detail {
    width: 60%;
    display: flex;
}

.img_div {
    width: 30%;
}

img {
    width: 95%;
    margin-top: 10px;
}

.detail_div {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.details_top {
    font-size: 12px;
}

.detail_Size {
    border: 0px;
}

.detail_remain {
    color: gray;
}

.details_bottom {
    font-size: 12px;
    display: flex;
    align-items: flex-end;
}

.item_Price {
    width: 40%;
    font-size: 12px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

hr {
    width: 100%;
}

select {
    font-size: 12px;
}